@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,700");

html {
  font-family: Montserrat, sans-serif;
  background-color: rgb(10, 10, 10);
}

body {
  margin: 0;
  color: white;
  font-weight: 300;
}

h1 {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 5.5px;
}
h2 {
  font-size: 28px;
  font-weight: 300;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 24px;
}
h4 {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
}
h3 {
  font-size: 21px;
  font-weight: 400;
  line-height: 30px;
}
h5 {
  font-size: 15px;
  font-weight: 700;
}
h6 {
  font-size: 12px;
  font-weight: 200;
}
p {
  font-size: 15px;
  font-weight: 200;
  line-height: 21px;
}
.navi {
  color: white;
  text-decoration: none;
}
